.locations {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;

    .location_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 350px;

        .imd_box {
            position: relative;
            cursor: pointer;

            .background {
                background-image: url(../../../public/assets/home/desktop/bg-pattern-hero-home.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                transition: all 0.8s ease;

                
            }

            .passionate {
                transform: rotate(-0.25turn);
            }

            .resourceful {
                transform: rotate(0.5turn);

            }

            &:hover .background {
                transform: rotate(0.25turn);
            }
        }

       

            h4 {
                margin-top: 25px;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 7px;
                font-weight: 500;
            }

        


    }
}