.header_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 160px;



    .header {
        padding: 0 50px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

       

        .logo {
            img {
                width: 200px;
                cursor: pointer;
            }
        }

        .nav_wrapper {
            ul {
                width: 370px;
                display: flex;
                justify-content: space-between;
                padding: 0;

                li {
                    list-style-type: none;
                    cursor: pointer;
                    letter-spacing: 2px;
                    position: relative;
                    line-height: 16px;
                    transition: all .6s;

                    a {
                        text-decoration: none;
                        color: #000;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 1px;
                        background: black;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        transition: all .6s;
                    }

                    &:hover {
                        font-size: 17px;

                        &:after {
                            width: 100%;
                        }
                    }


                }

            }
        }

        
    }


}