.footer_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .contact_board {
        margin-bottom: -60px;
        z-index: 5;
        width: calc(100% - 300px);
        height: 290px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #E7816B;
        border-radius: 15px;
        padding: 0 100px;
        background-image: url(../../../public/assets/shared/desktop/bg-pattern-call-to-action.svg);
        background-position: right;
        background-repeat: no-repeat;


        .text_box {
            color: #fff;
            width: 460px;

            h3 {
                font-size: 40px;
                line-height: 40px;
                font-weight: 500;
                margin: 20px 0;
            }

            p {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
            }

        }

    }

    .footer {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #1D1C1E;


        .footer_head {
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: calc(100% - 300px);
            border-bottom: 1px solid #979797;
            padding-bottom: 40px;


            .logo {
                img {
                    width: 200px;
                    cursor: pointer;
                }
            }

            .nav_wrapper {
                ul {
                    width: 370px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0;

                    li {
                        list-style-type: none;
                        cursor: pointer;
                        letter-spacing: 2px;
                        position: relative;
                        line-height: 17px;
                        transition: all .6s;

                        a {
                            color: #979797;
                            text-decoration: none;
                        }


                        &:after {
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 1px;
                            background: #fff;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            transition: all .6s;
                        }

                        &:hover {
                            font-size: 17px;

                            &:after {
                                width: 100%;
                            }
                        }


                    }

                }
            }
        }

        .footer_contacts {
            width: calc(100% - 300px);
            color: #979797;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding-bottom: 50px;

            .adress,
            .contacts {
                font-size: 16px;
                line-height: 26px;

            }

            .social_medias {
                width: 185px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {

                    img {
                        transition: all 0.5s ease;

                    }

                    &:hover img {
                        transform: scale(1.2);
                    }
                }
            }
        }

    }

}