@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-VariableFont_wght.ttf);
}

* {
    font-family: 'Jost';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    background-image: url(../public/assets/shared/desktop/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: 0 25%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}